* {
    padding:0;
    margin:0;
    box-sizing:border-box;
    }
    .content {
        max-width: 1920px;
        padding: 0 95px;
        margin: 0 auto;
    }
    .doctor-calendar {
        margin-bottom: 237px;
        overflow: auto;
        position: relative;
    }
    .doctor-calendar__title {
        font-weight: bold;
        font-size: 30px;
        line-height: 44px;
        color: #1F2428;
        margin-bottom: 40px;
        
    }
    .calendar {
        & td{
            width: 153px;
            height: 80px;
            min-width: 100%;
            min-height: 100%;
        }
        & th{
            width: 153px;
            height: 80px;
            min-width: 100%;
            min-height: 100%;
        }
        padding: 0 30px;
    }
    .calendar__arrow-left{
        // position: relative;
        width: 27px;
        height: 27px;
        position: absolute;
        top: 115px;
        left: 6px;
        &{
            border-top: 2px solid #00C879 ;
            border-left: 2px solid #00C879 ;
            transform: rotate(-45deg);
        }

    }
    .calendar__arrow-right{
        position: relative;
        width: 27px;
        height: 27px;
        position: absolute;
        top: 115px;
        right: 6px;
        &{
            border-top: 2px solid #00C879 ;
            border-right: 2px solid #00C879 ;
            transform: rotate(45deg);
        }
        // position: relative;
    }
    .th-line{
        
        & th:first-child{
            border-radius: 8px 0px 0px 0px;
        }
        & th:last-child{
            border-radius: 0px 8px 0px 0px;
        }
        & th a{
            font-weight: bold;
            font-size: 15px;
            line-height: 20px;
            text-align: center;
            color: #FFFFFF;
        }
    }
    .border{
        
        background: #438ACA;
        padding: 15px 30px;
    }

    .td-line {
        

    }
    .сell--active {
        
        background: #00C879;
        & a{
            font-weight: bold;
            font-size: 15px;
            line-height: 20px;
            color: #FFFFFF;
            padding: 0px 30px 0px 29px;
            text-align: center;
            min-width: 100%;
        }
        p{
            margin-bottom: -10px;
        }
    }
    .сell {
        background: #F3F3F3;

        & a{
            font-weight: 300;
            font-size: 15px;
            line-height: 32px;
            text-align: center;
            color: #1F2428;
            padding: 24px 34px 24px 30px;
            min-width: 100%;
        }
    }
    .border-left {
        border-radius: 0px 0px 0px 8px;
        & a{
            font-size: 15px;
        }

    }
    .border-right {
        border-radius: 0px 0px 8px 0px;
        & a{
            font-size: 15px;
        }
    }
    @media (min-width: 300px) and (max-width: 1685px) {
        .calendar__arrow-left{
            // position: relative;
            width: 27px;
            height: 27px;
            position: absolute;
            top: 50px;
            left: 6px;
            &{
                border-top: 2px solid #00C879 ;
                border-left: 2px solid #00C879 ;
                transform: rotate(-45deg);
            }
    
        }
        .calendar__arrow-right{
            position: relative;
            width: 27px;
            height: 27px;
            position: absolute;
            top: 50px;
            right: 6px;
            &{
                border-top: 2px solid #00C879 ;
                border-right: 2px solid #00C879 ;
                transform: rotate(45deg);
            }
            // position: relative;
        }
    }
        