* {
    padding:0;
    margin:0;
    box-sizing:border-box;
    }
    a{
      text-decoration: none;
    }
    .wrapper {
      background: #fff;
    }
    .header{
      background: #FFFFFF;
    }
    .content {
        padding: 0 100px;
    }
    .doctor-history-consultation {
        overflow: auto;
        position: relative;
    }
    .doctor-history-consultation__title {
        font-weight: bold;
        font-size: 30px;
        line-height: 44px;
        color: #1F2428;
        margin-bottom: 11px;
    }
    .doctor-history-consultation__subtitle{
      margin-bottom: 20px;
    }
    .subtitle{
      font-weight: bold;
      font-size: 20px;
      line-height: 36px;
      color: #1F2428;
    }
      .doctor-history-consultation__list {
        margin-bottom: 143px;
        height: 365px;
        width: 100%;
        position: relative;
        overflow: scroll;
        margin-bottom: 50px;
        &::-webkit-scrollbar {
          width:5px;
          height: 2px;
        }
        &::-webkit-scrollbar-track {
          background: #C0C9D7;
          border-radius: 36px;
        }
        &::-webkit-scrollbar-thumb {
          background: #00C879;
          border-radius: 36px;
          width: 15px;
          height: 42px;
        }
    }
    .calendar {
      max-width: 1920px;
      width: 100%;
      border-collapse: collapse;

        & td{
      text-align: center;
      height: 60px;
      background: #FFFFFF;
      border-bottom:#C0C9D7 1px solid;
        }
        & th{
          text-align: center;
          height: 60px;
          border-bottom:#C0C9D7 1px solid;
        }
    }
    select{
      border: 1px solid #438ACA;;
      background: url('/img/icons/Vector-select.svg') no-repeat right center;
      outline: 0;
      appearance: none;
      padding: 0 15px 0 0px;
    }
    .th-line{
        & th:first-child{
            border-radius: 8px 0px 0px 0px;
        }
        & th:last-child{
            border-radius: 0px 8px 0px 0px;
        }
        & select, .time{
            font-weight: bold;
            font-size: 15px;
            line-height: 20px;
            text-align: center;
            color: #FFFFFF;   
        }
    }
    .border{
        background: #438ACA;
        padding: 18px 29px;
        & select{
          box-sizing: border-box;
      }
    }

    .сell--active-gr {
      & a{
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        color: #00C879;
      }  
    }
    .сell--active-red{
      & a{
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        color: #EB5757;
      }
    }
    .сell--active-blk{
      & a{
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        color: #1F2428;
        opacity: 0.8;
      }
    }
    .сell {
        & a{
          font-weight: 300;
          font-size: 14px;
          line-height: 24px;
          color: #1F2428;
          text-align: center;
        }
    }
    @media (min-width: 300px) and (max-width: 900px) {
      .content {
        padding: 0 10px;
    }
  }
  .application-to-administration__doctor {
    margin-bottom: 9px;
  }
        
  .form {
    & select{
        background: #FCFDFF;
        border: 1px solid #C0C9D7;
        box-sizing: border-box;
        border-radius: 6px;
        width: 820px;
        height: 60px;
        margin-bottom: 20px;
        padding: 22px 0 22px 20px;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        color: #222222;
        opacity: 0.6;
    }
    & ::placeholder{
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        color: #222222;
        opacity: 0.6;
    }
}
.form-left__row {
    display: flex;
    flex-direction: column;
    & select{
        appearance: none;
        margin-bottom: 20px;
    }
        & .select{
            background: url(/img/icons/arrow.svg) right no-repeat;
            background-position-x: calc(100% - 15px);
        }
}
.name {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  color: #1F2428;
  margin-bottom: 10px;
}
.application-to-administration__review {
  margin-bottom: 10px;
}

.textarea{
  width: 820px;
  background: #FCFDFF;
  border: 1px solid #C0C9D7;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 22px 0 62px 20px;
  margin-bottom: 30px;
  resize: none;
}
button{
  width: 200px;
  padding: 19px 0;
  text-align: center;
  margin-bottom: 261px;
  background: #00C879;
  // box-shadow: 0px 4px 4px rgba(1, 203, 124, 0.2);
  border-radius: 36px;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #FFFFFF;
  border: solid 1px #00C879;
}
.btn{
  margin-bottom: 231px;
}