* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Gilroy";
}

a {
  text-decoration: none;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 820px;
  margin: 0 auto;
}

.content {
  min-height: calc(100vh - 100px);
}

.header {
  height: 100px;
  padding: 0 100px;
  margin-bottom: 30px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
}

.header__row {
  max-width: 1920px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  padding: 13px 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 133px;
}

.header-logo__img {
  margin-right: 15px;
}

.header-logo__content p:nth-child(1) {
  font-weight: bold;
  font-size: 14.4828px;
  line-height: 13px;
  color: #266192;
}

.header-logo__content p:nth-child(2) {
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  color: #255A8B;
}

.header-logo__content::before {
  content: "";
}

.header__menu {
  margin-right: 338px;
}

.header-menu__row {
  padding: 42px 0;
}

.header-menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-menu__link a:last-child {
  margin-right: 0;
}

.menu__rigt {
  margin-right: 60px;
}

.header-menu__item {
  font-weight: bold;
  font-size: 15px;
  line-height: 16px;
  color: #1F2428;
  margin-right: 60px;
}

.header-menu__item:hover {
  color: #00C879;
}

.header-menu__item--active {
  margin-right: 60px;
  color: #00C879;
}

.header__money {
  margin-right: 46px;
}

.money__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 23px 0 21px;
}

.money__sum {
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: #1F2428;
  margin-bottom: 2px;
}

.money__sum span {
  color: #438ACA;
}

.money__story {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #00C879;
  margin-bottom: 6px;
  border-bottom: 1px dashed #00C879;
}

.requisites {
  width: 64px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #00C879;
  border-bottom: 1px dashed #00C879;
}

.header__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-profile__image {
  padding: 21px 0;
  margin-right: 17px;
}

.header-profile__name {
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;
  color: #1F2428;
  border-bottom: 1px dashed #1F2428;
  margin-right: 56px;
}

.header-profile__login {
  max-width: 28px;
  width: 100%;
}

@media (min-width: 1605px) and (max-width: 1945px) {
  .header {
    height: 100px;
    padding: 0 50px;
    margin: 0 auto;
  }
  .header__logo {
    margin-right: 70px;
  }
  .header__menu {
    margin-right: 170px;
  }
  .header__money {
    margin-right: 46px;
  }
  .header-profile__name {
    margin-right: 56px;
  }
}

@media (min-width: 1228px) and (max-width: 1605px) {
  .header {
    padding: 0 15px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .header__row {
    max-width: 1228px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__logo {
    margin-right: 30px;
  }
  .header__menu {
    margin-right: 80px;
  }
  .menu__rigt {
    margin-right: 20px;
  }
  .header-menu__item {
    margin-right: 20px;
  }
  .header-menu__item--active {
    margin-right: 20px;
  }
  .header__money {
    margin-right: 20px;
  }
  .header-profile__name {
    margin-right: 20px;
  }
}

@media (min-width: 980px) and (max-width: 1227px) {
  .header {
    height: 120px;
    padding: 0 10px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .header__row {
    max-width: 980px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__logo {
    padding: 13px 0 20px 0;
    margin-right: 10px;
  }
  .header-logo__img {
    margin-right: 15px;
  }
  .header__menu {
    margin-right: 0px;
  }
  .header-menu__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 42px 0;
  }
  .header-menu__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-menu__link a:last-child {
    margin-bottom: 0;
  }
  .menu__rigt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: -25px;
  }
  .menu__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: -25px;
  }
  .header-menu__item {
    margin-bottom: 10px;
  }
  .header-menu__item--active {
    margin-bottom: 10px;
  }
  .header__money {
    margin-right: 20px;
  }
  .money__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 23px 0 21px;
  }
  .requisites {
    width: 64px;
  }
  .header__profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-profile__image {
    padding: 21px 0;
    margin-right: 17px;
  }
  .header-profile__name {
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;
    color: #1F2428;
    border-bottom: 1px dashed #1F2428;
    margin-right: 20px;
  }
  .header-profile__login img {
    max-width: 40px;
    width: 100%;
  }
}

@media (min-width: 550px) and (max-width: 980px) {
  .header {
    height: 220px;
    padding: 0 10px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .header__row {
    max-width: 550px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-right: 10px;
  }
  .header-logo__img {
    margin-right: 15px;
  }
  .header__menu {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 99%;
            flex: 0 0 99%;
    margin-right: 0px;
  }
  .header-menu__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 42px 0;
  }
  .header-menu__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 99%;
            flex: 0 0 99%;
  }
  .header-menu__link a:last-child {
    margin-bottom: 0;
  }
  .menu__rigt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 0px;
  }
  .menu__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 0px;
  }
  .header-menu__item {
    margin-bottom: 10px;
  }
  .header-menu__item--active {
    margin-bottom: 8px;
  }
  .header__money {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-right: 10px;
    width: 90px;
  }
  .money__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .money__sum {
    margin-bottom: 10px;
  }
  .money__story {
    width: 128px;
    margin-bottom: 10px;
  }
  .requisites {
    width: 64px;
  }
  .header__profile {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-profile__image {
    margin-right: 10px;
  }
  .header-profile__name {
    width: 50px;
    margin-right: 10px;
  }
}

@media (min-width: 300px) and (max-width: 550px) {
  .header {
    height: 350px;
    padding: 0 10px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .header__row {
    max-width: 365px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-right: 10px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 99%;
            flex: 0 0 99%;
  }
  .header-logo__img {
    margin-right: 15px;
  }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    margin-right: 0px;
  }
  .header-menu__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-menu__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-menu__link a:last-child {
    margin-bottom: 0;
  }
  .menu__rigt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: -10px;
  }
  .menu__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: -50px;
  }
  .header-menu__item {
    margin-bottom: 10px;
  }
  .header-menu__item--active {
    margin-bottom: 8px;
  }
  .header__money {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-right: 10px;
    width: 90px;
  }
  .money__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .money__sum {
    margin-bottom: 10px;
  }
  .money__story {
    width: 128px;
    margin-bottom: 10px;
  }
  .requisites {
    width: 64px;
  }
  .header__profile {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-profile__image {
    margin-right: 10px;
  }
  .header-profile__name {
    width: 50px;
    margin-right: 10px;
  }
}

.footer {
  background: url(/img/lines2.png) 0 0/cover no-repeat;
  background-color: #438ACA;
}

.footer__row {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

@media (min-width: 300px) and (max-width: 900px) {
  .footer__text {
    max-width: 330px;
    margin: 0 auto;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-weight: bold;
  color: #1F2428;
}

input[type=file] {
  display: none;
}

.box__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar {
  padding-left: 100px;
  margin-right: 45px;
}

.sidebar__tittle {
  font-weight: bold;
  font-size: 30px;
  line-height: 44px;
  color: #1F2428;
  margin-bottom: 30px;
}

.sidebar__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 270px;
  height: 270px;
  background: #EAF2FF;
  border-radius: 16px;
  cursor: pointer;
}

.input__file {
  display: block;
  width: 100px;
  height: 100px;
  border-color: springgreen;
}

.input__image {
  padding-top: 77px;
  text-align: center;
  margin-bottom: 14px;
}

.input__text {
  text-align: center;
  font-size: 15px;
  line-height: 16px;
}

.container {
  max-width: 820px;
  margin: 0 auto;
}

.name {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  color: #1F2428;
  margin-bottom: 10px;
}

.form input, .form select {
  background: #FCFDFF;
  border: 1px solid #C0C9D7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  width: 400px;
  height: 60px;
  margin-bottom: 20px;
  padding: 22px 0 22px 20px;
}

.form ::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #222222;
  opacity: 0.6;
}

.form :-ms-input-placeholder {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #222222;
  opacity: 0.6;
}

.form ::-ms-input-placeholder {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #222222;
  opacity: 0.6;
}

.form ::placeholder {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #222222;
  opacity: 0.6;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 47%;
          flex: 0 0 47%;
  margin-right: 20px;
}

.form-left__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-left__row select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.form-left__row .select {
  background: url(/img/icons/arrow.svg) right no-repeat;
  background-position-x: calc(100% - 15px);
}

.price-from-to__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price-from-to__row input {
  width: 190px;
}

.price-from-to__row p {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #222222;
  opacity: 0.6;
  margin: 0 6px;
}

.form__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 47%;
          flex: 0 0 47%;
}

.form-right__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-right__row .empty-block {
  margin-bottom: 146px;
}

.form__about-me {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 99%;
          flex: 0 0 99%;
  margin-bottom: 20px;
}

.form-about-me__row textarea {
  background: #FCFDFF;
  border: 1px solid #C0C9D7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  width: 100%;
  resize: none;
  height: 100px;
  padding: 22px 0 0 20px;
}

.form__documents {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 99%;
          flex: 0 0 99%;
  margin-bottom: 38px;
}

.form-documents__name {
  margin-bottom: 14px;
}

.form-documents__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-documents__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 61px;
  height: 61px;
  background: #FFFFFF;
  border: 2px solid #C0C9D7;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 8px;
}

.input-document__file {
  display: block;
  width: 23px;
  height: 23px;
}

.input-documents__image {
  padding-top: 19px;
  text-align: center;
}

.btn {
  width: 200px;
  padding: 19px 0;
  text-align: center;
  margin-bottom: 261px;
  background: #00C879;
  border-radius: 36px;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #FFFFFF;
  border: solid 1px #00C879;
}

@media (min-width: 1228px) and (max-width: 1605px) {
  .sidebar {
    padding-left: 80px;
  }
}

@media (min-width: 1150px) and (max-width: 1227px) {
  .sidebar {
    padding-left: 20px;
    margin-right: 25px;
  }
}

@media (min-width: 770px) and (max-width: 1150px) {
  .sidebar {
    padding-left: 20px;
    margin-right: 25px;
  }
  .container {
    max-width: 820px;
    margin: 0 auto;
  }
  .form input, .form select {
    width: 450px;
    height: 60px;
    margin-bottom: 15px;
    padding: 20px 0 20px 20px;
  }
  .form__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .price-from-to__row input {
    width: 215px;
  }
  .form-right__row .empty-block {
    margin-bottom: 20px;
  }
  .form__about-me {
    margin-bottom: 20px;
  }
  .form-about-me__row textarea {
    width: 96%;
  }
  .form-documents__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .form-documents__input {
    margin-bottom: 10px;
  }
}

@media (min-width: 300px) and (max-width: 770px) {
  .box__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 350px;
    margin: 0 auto;
  }
  .sidebar {
    padding-left: 20px;
    margin-right: 25px;
  }
  .container {
    max-width: 820px;
    margin: 0 auto;
  }
  .form input, .form select {
    width: 350px;
    height: 50px;
    margin-bottom: 15px;
    padding: 20px 0 20px 20px;
  }
  .form__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .price-from-to__row input {
    width: 165px;
  }
  .form-right__row .empty-block {
    margin-bottom: 20px;
  }
  .form__about-me {
    margin-bottom: 20px;
  }
  .form-about-me__row textarea {
    width: 96%;
  }
  .form-documents__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .form-documents__input {
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=style.css.map */