body{
    background: #E5E5E5;
}
.pop-up {
    width: 480px;
    height: 630px;
    position: absolute;
    top: 175px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    z-index: 2;
    background: #FFFFFF;
    box-shadow: 0px 0px 70px rgba(138, 138, 138, 0.1);
    border-radius: 16px;
}

.cross{
position: absolute;
top: -20px; 
right: 0px;
&:before, &:after{
    content: "";
    position: absolute;
    width: 37px;
    height: 1.5px;
    background: #FFFFFF;}
&:before {
    transform: rotate(45deg);
}
&:after {
    transform: rotate(-45deg);
}
}
.pop-up__form {

    padding: 52px 40px 45px ;
}
.pop-up__title {
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
    color: #1F2428;
    margin-bottom: 17px;
}
.pop-up-form__row {
    display: flex;
    flex-direction: column;
    & input{
        height: 60px;
        background: #FCFDFF;
        border: 1px solid #C0C9D7;
        box-sizing: border-box;
        border-radius: 6px;
        margin-bottom: 15px;
    }
    & textarea{
        height: 120px;
        margin-bottom: 30px;
        background: #FCFDFF;
        border: 1px solid #C0C9D7;
        box-sizing: border-box;
        border-radius: 6px;
        resize: none;
    }
    & button{
        margin: 0 auto;
        width: 200px;
        padding: 19px 0;
        text-align: center;
        margin-bottom: 44px;
        background: #00C879;
        // box-shadow: 0px 4px 4px rgba(1, 203, 124, 0.2);
        border-radius: 36px;
        font-weight: bold;
        font-size: 17px;
        line-height: 18px;
        color: #FFFFFF;
        border: solid 1px #00C879;
    }
}
.name {
    font-weight: bold;
    font-size: 16px;
    line-height: 36px;
    color: #1F2428;
    margin-bottom: 4px;
}

@media (min-width: 900px) and (max-width: 1200px) {
    .container {
      max-width: 900px;
      margin: 0 auto;
    }
    .header__logo {
      margin-right: 15px;
    }
    .header__menu {
      margin-right: 19px;
    }
    .header-menu__link a {
      margin-right: 10px;
    }
    .header-user__btn {
      margin-right: 17px;
    }
    .consultation {
        height: 400px;
        margin-bottom: 75px;
      }
      .consultation__title {
        padding-top: 70px;
      }
      .doctors {
        margin-bottom: 50px;
      }
      .doctors__title {
        margin-bottom: 80px;
        color: #1F2428;
      }
      .doctors__row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 10%;
                flex: 0 0 10%;
      }
      .doctors__item {
        margin-left: 4.5%;
        margin-right: 0;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 45%;
                flex: 0 0 45%;
      }
      .doctors__item:nth-child(9) {
        margin: 0 auto;
      }
      .sign-up {
        height: 370px;
        margin: 0 auto 75px;
      }
      .sing-up__title {
        padding-top: 55px;
      }
      .personal {
        margin-bottom: 75px;
      }
      .personal__items {
        margin: 0 auto;
      }
      .personal__items:nth-child(4n) {
        margin: 0 auto;
      }
      .question {
        height: 300px;
        margin: 0 auto 75px;
      }
      .question__title {
        padding: 59px 0 0 0;
      }
      .method {
        margin-bottom: 75px;
      }
      .reviews__row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-flex: 1;
            -ms-flex: 1 1 99%;
                flex: 1 1 99%;
        padding: 0 10px;
      }
      .line {
        width: 630px;
      }
      .reviews-more__btn {
        margin-bottom: 60px;
      }
      .conect {
        padding: 0 25px;
        margin: 0 auto 75px;
      }
      .conect__title {
        padding-top: 64px;
        margin-bottom: 19px;
      }
  }

@media (min-width: 300px) and (max-width: 900px) {
    .container {
      max-width: 600px;
      margin: 0 auto;
    }
    .header {
      height: 250px;
    }
    .header__row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    .header__logo {
      margin: 0 5px -25px 0;
    }
    .header__menu {
      margin: 0px 0 -25px 0;
    }
    .header-menu__link a {
      margin-right: 10px;
    }
    .header-user__btn {
      margin-right: 7px;
      margin: 0px 0 -25px;
    }
    .footer__text {
      width: 300px;
    }
    .consultation {
        height: 400px;
        margin-bottom: 75px;
      }
      .consultation__title {
        padding-top: 25px;
        margin-bottom: 20px;
        font-size: 36px;
      }
      .consultation__btn {
        width: 360px;
      }
      .consultation-btn__text {
        padding: 24px 0 25px 0;
      }
      .doctors {
        margin-bottom: 30px;
      }
      .doctors__row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
      }
      .doctors__item {
        margin: 0 auto;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 97%;
                flex: 0 0 97%;
      }
      .doctors__item:nth-child(3n) {
        margin: 0 auto;
      }
      .sign-up {
        height: 370px;
        margin: 0 auto 75px;
      }
      .sing-up__title {
        padding-top: 25px;
        font-size: 36px;
      }
      .personal {
        margin-bottom: 75px;
      }
      .personal__items {
        margin: 0 auto;
      }
      .personal__items:nth-child(4n) {
        margin: 0 auto;
      }
      .question {
        height: 290px;
        margin: 0 auto 75px;
      }
      .question__title {
        padding: 29px 0 0 0;
      }
      .question__subtitle {
        margin-bottom: 10px;
      }
      .method {
        margin-bottom: 75px;
      }
      .method__items {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
      }
      .method__item {
        width: 99%;
        margin-bottom: 15px;
        padding: 0 15px;
      }
      .reviews__row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-flex: 1;
            -ms-flex: 1 1 99%;
                flex: 1 1 99%;
        padding: 0 10px;
      }
      .line {
        width: 350px;
      }
      .reviews-more__btn {
        margin-bottom: 60px;
      }
      .conect {
        padding: 0 25px;
        margin: 0 auto 75px;
      }
      .conect__title {
        padding-top: 64px;
        margin-bottom: 19px;
      }
      .footer__text {
        max-width: 330px;
        margin: 0 auto;
      }
      
  }

  @media (min-width: 300px) and (max-width: 544px) {
    .reviews__row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-flex: 1;
          -ms-flex: 1 1 49%;
              flex: 1 1 49%;
    }
    .reviews__items {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 50%;
              flex: 0 0 50%;
      margin-bottom: 55px;
    }
    .reviews-item__row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
    }
    .reviews-item__block1 {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 10%;
              flex: 0 0 10%;
      margin-right: 10px;
    }
    .reviews-item__block2 {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 50%;
              flex: 0 0 50%;
      position: relative;
      padding: 24px 0;
    }
    .line {
      width: 230px;
    }
    .rewiews-item__review {
      font-size: 16px;
      line-height: 20px;
      color: #1F2428;
      margin-bottom: 10px;
    }
    .reviews-item__block3 {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 99%;
              flex: 0 0 99%;
      text-align: center;
    }
    .reviews-item__block4 {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 99%;
              flex: 0 0 99%;
    }
    .pop-up {
        width: 340px;
        height: 600px;
    }

    .pop-up__form {
        padding: 22px 20px 25px ;
    }
    .pop-up-form__row {
        display: flex;
        flex-direction: column;
        & input{
            height: 60px;
            background: #FCFDFF;
            border: 1px solid #C0C9D7;
            box-sizing: border-box;
            border-radius: 6px;
            margin-bottom: 15px;
        }
        & textarea{
            height: 120px;
            margin-bottom: 30px;
            background: #FCFDFF;
            border: 1px solid #C0C9D7;
            box-sizing: border-box;
            border-radius: 6px;
            resize: none;
        }
        & button{
            margin: 0 auto;
            width: 200px;
            padding: 19px 0;
            text-align: center;
            margin-bottom: 44px;
            background: #00C879;
            // box-shadow: 0px 4px 4px rgba(1, 203, 124, 0.2);
            border-radius: 36px;
            font-weight: bold;
            font-size: 17px;
            line-height: 18px;
            color: #FFFFFF;
            border: solid 1px #00C879;
        }
    }
    .name {
        font-weight: bold;
        font-size: 16px;
        line-height: 36px;
        color: #1F2428;
        margin-bottom: 4px;
    }
  }
